<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.main.payment.dao.UserLoginMapper">
	<resultMap id="BaseResultMap" type="com.pay.main.payment.entity.UserLogin">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ul_username" property="ulUsername" jdbcType="VARCHAR" />
		<result column="ul_password" property="ulPassword" jdbcType="VARCHAR" />
		<result column="ul_merId" property="ulMerId" jdbcType="VARCHAR" />
		<result column="ul_sign" property="ulSign" jdbcType="VARCHAR" />
		<result column="ul_group" property="ulGroup" jdbcType="TINYINT" />
		<result column="ul_paystate" property="ulPaystate" jdbcType="TINYINT" />
		<result column="ul_notify" property="ulNotify" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id, ul_username, ul_merId,ul_sign, ul_group, ul_paystate, ul_notify
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_login
		where ul_merId = #{merId,jdbcType=VARCHAR}
	</select>
	<select id="selectByUserPwd" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_login
		where ul_username = #{username,jdbcType=VARCHAR}
		AND ul_password = #{password,jdbcType=VARCHAR}
	</select>
</mapper>